:root {
  --primary-color: #434455;
  --title-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-hover-btn: #404bbf;
  --text-footer: #f4f4fd;
  --header-color: #ffffff;
  --border-color: #e7e9fc;
  --light-slate: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--header-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
.suptitle {
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.mobile-suptitle {
  padding: 0;
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-color);
}
@media only screen and (min-width: 768px) {
  .mobile-suptitle {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .mobile-suptitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
  }
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.mobile-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;

  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1158px) {
  .mobile-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}
@media only screen and (min-width: 768px) {
  .link-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .link-logo {
    margin-right: 76px;
  }
}
.logo-text {
  color: var(--title-color);
}
.header-nav {
  display: flex;

  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    margin-left: auto;
    margin-right: auto;
  }
}

/* burger-icon */
.mobile-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.icon-burger {
  stroke: var(--title-color);
}

.menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }
}

.menu-link {
  position: relative;
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.menu-link.active::after {
  background-color: var(--background-hover-btn);
}
.menu-link.active {
  color: var(--background-hover-btn);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--background-hover-btn);
}
.navigation {
  display: flex;
  align-items: center;
}
.contacts {
  display: none;
}
@media only screen and (min-width: 768px) {
  .contacts {
    display: block;

    margin-left: auto;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    display: flex;
    gap: 40px;
  }
}
.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--background-hover-btn);
}
/* section 1  */
.section-hero {
  display: none;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0;
  text-align: center;
  background-color: var(--title-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 48px;

  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--header-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button:hover,
.order-button:focus {
  color: var(--header-color);
  background-color: var(--background-hover-btn);
}

/* section 2 */
.section-feature {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .section-feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 72px;
}
@media only screen and (min-width: 1158px) {
  .feature-list {
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 72px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .feature-items {
    width: calc((100% - 72px) / 4);
  }
}
.feature-icon {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: var(--text-footer);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

/* section 3 */
.section-options {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .section-options {
    display: block;
    padding-bottom: 120px;
  }
}

.option-title {
  padding: 0;
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
}
.option-list {
  display: flex;
  gap: 24px;
}
.option-item {
  width: calc((100%-48px) / 3);
}
/* section 4 our team */
.section-team {
  padding: 120px 0;
  background-color: var(--text-footer);
}
.team-list {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  /* width: calc((100%-72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  background-color: var(--header-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name {
  padding: 32px 0;
  text-align: center;
}
.icon-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding: 0;
}
.team-item-icon {
  width: 40px;
  height: 40px;
}
.icon-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-link:hover,
.icon-team-link:focus {
  background-color: var(--background-hover-btn);
}
.team-svg {
  fill: var(--text-footer);
}
/* section5 costumers */
.section-customers {
  display: none;
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-item {
  display: flex;
  gap: 24px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--background-hover-btn);
  border-color: var(--background-hover-btn);
}
.icon-logo {
  fill: currentColor;
}

/* footer */
.footer {
  display: none;
  padding: 100px 0;
  background-color: var(--title-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.link-logo-footer {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
}
.footer-text-container {
  margin-right: 120px;
}
.footer-text {
  width: 264px;
  color: var(--text-footer);
}
.logo-second {
  color: var(--text-footer);
}
.footer-social {
  margin-right: 80px;
}
.footer-icon {
  display: flex;
  gap: 16px;
  padding: 0;
}
.footer-list-icon {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-svg {
  fill: var(--text-footer);
}
.footer-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.footer-lable {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer-input {
  padding-left: 16px;
  min-width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--header-color);
  background-color: var(--title-color);
  outline: none;
}
.footer-input::placeholder {
  /* padding-left: 16px; */
  color: var(--header-color);
}
.btn-subscribe {
  display: flex;
  align-items: center;
  padding-left: 24px;
  position: relative;

  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--header-color);
  background-color: var(--accent-color);
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #31d0aa;
}
.subscribe-icon {
  position: absolute;
  top: 25%;
  right: 24px;
  fill: var(--header-color);
}
/* portfolio */
.portfolio {
  padding: 96px 0 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--border-color);

  border-radius: 4px;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--accent-color);
  background-color: var(--text-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btm:hover,
.portfolio-btm:focus {
  border: 1px solid transparent;
  color: var(--header-color);
  background-color: var(--background-hover-btn);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-name {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.projects-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list-projects {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}
.list-item:nth-child(3n) {
  margin-right: 0;
}
.list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* overlay */
.projects-thumba {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-footer);
  background-color: var(--accent-color);
}

.projects-link:hover .overlay-text,
.projects-link:focus .overlay-text {
  transform: translateY(0%);
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -75%);
  opacity: 0;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--background-hover-btn);
  fill: #ffffff;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/* modal-form */

.modal-text {
  margin-top: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
}
.modal-form {
  margin-left: 24px;
  width: 360px;
}

.form-field {
  position: relative;
  margin-bottom: 8px;
}

.form-input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 25%;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-icon {
  fill: var(--accent-color);
  pointer-events: none;
}
.form-lable {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8e8f99;
}
.form-comment {
  resize: none;
  margin-top: 4px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 16px;

  width: 100%;
  height: 120px;
  outline: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus {
  border: 1px solid var(--accent-color);
}
.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-agreement {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  margin-left: 0;
}
.check-input {
  display: block;
  appearance: none;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: backgroun-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked {
  background-color: var(--background-hover-btn);
  border: 1px solid var(--background-hover-btn);
}
.check-icon {
  position: absolute;
  top: 4px;
  left: 3px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-icon {
  opacity: 1;
  fill: var(--header-color);
}
.text-agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.04em;

  color: var(--light-slate);
}
.agreement-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.04em;
  color: var(--accent-color);
}

.modal-submit-btn {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* mobile-menu */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;

  height: 100vh;
  padding: 80px 40px 40px 40px;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media only screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .mobile-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
}
.mobile-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;

  border: 1px solid rgba(46, 47, 66, 0.1);
}
.mobile-menu-icon {
  fill: var(--title-color);
}
.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
}
.mobile-item {
  margin-bottom: 40px;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-color);
}
.mobile-link:focus {
  color: var(--background-hover-btn);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts-item {
  margin-top: 40px;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--primary-color);
}
.mobile-contacts-link:focus {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--accent-color);
}
.mobile-social {
  justify-content: flex-start;
  gap: 54px;
}
